main{
	background-color: lightgrey;
}

.jumbotron{
	background-color: lightgrey;
}

.btn{
    position: relative;
    top: 12px;
	background-color: #3872d1;
	color: white;
}

.img-responsive{

	margin:12px 0px 0px 0px ;
}

.letra{
   
    font-weight: bold;
   
}
